---
---

@import "{{ site.theme }}";

.wrapper {
  width:1200px;
}

header {
  width:300px;
}

section {
  width:800px;
}

@media print, screen and (max-width: 960px) {
  header, section, footer {
      width: auto;
  }
}
